{% extends "auctions/layout.html" %}

{% block body %}

    {% if listing %}
        <div class="container">
            <h2>Listing: {{listing.name}}</h2>

            {% if user.is_authenticated %}
                {% if watchlist_obj %}
                    
                        <span style="background-color: grey; color: white;">Watchlist</span>              
                        <form style="display: inline-block" action="{% url 'watchlist_delete' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="listing_id" value="{{listing.id}}">
                            <input type="submit" value="X">
                        </form>
                    
                {% else %}
                    <form action="{% url 'watchlist' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id" value="{{listing.id}}">
                        <input type="submit" value="Add to Watchlist">
                    </form>
                {% endif %}
            {% endif %}



            <div style="width: 200px">
                <img src="{{listing.image.url}}" alt="{{listing.name}}" height="200">
            </div>
            <p>{{listing.description}}</p>
            
            <strong>Price: </strong>$
            {% if listing.bids.first %}
                {{listing.bids.first.bid_price}}
            {% else %}
                {{listing.original_price}}
            {% endif %}

            <p>Bid: TODO</p>

            <h3>Details</h3>
            <ul>
                <li>Listed by: {{listing.user}}</li>
                <li>Category: {{listing.category}}</li>
            </ul>
            <p>Created {{listing.created}}</p>
        </div>
    {% else %}
        <h3>Listing not found.</h3>
    {% endif %}
{% endblock %}